.footer-wrap {
  @include flex(flex, null, baseline);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  background-color: var(--dark-background-color);
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  margin-bottom: 20px;
  display: block;
}
.footer-logo__text {
  color: var(--accent-color);
}
.footer-contacts-list__item {
  margin-bottom: 10px;
}
.footer-contacts-list__item:last-child {
  margin-bottom: 0;
}

.footer-contacts-list__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.footer-contacts-list__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-text-color);
}

.footer-contacts {
  display: block;
  margin-right: 70px;
}

.footer-join {
  margin-right: auto;
}
.footer-join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  vertical-align: top;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  font-style: normal;
  margin-bottom: 20px;
  display: flex;
}
.footer-social {
  @include flex(flex, center, flex-start);
}
.footer-social__item {
  width: 44px;
  height: 44px;
  & + & {
    margin-left: 10px;
  }
}

.footer-social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  @include flex(flex, center, center);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: var(--accent-color);
  }
}

.footer-social__icon {
  fill: var(--second-text-color);
}

/*----------FOOTER SUBSCRIBE----------*/

.footer-subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  vertical-align: top;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  font-style: normal;
  margin-bottom: 20px;
  display: flex;
}
.footer-subscribe {
  @include flex(flex, null, baseline);
  flex-direction: column;
  margin-left: auto;
}
.footer-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  color: var(--second-text-color);
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    letter-spacing: 0.03em;
  }
}

.footer-form__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--btn-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  margin-left: 12px;
  justify-content: center;
  align-items: center;
}

.footer-form__icon {
  margin-left: 10px;
}
