.header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
}

.header-list {
  @include flex(flex, null, baseline);
}

.header-contacts {
  @include flex(flex, null, center);
  margin-left: auto;
}

.header-contacts__mail {
  @include flex(flex, null, center);
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.header-contacts__item {
  @include flex(flex, null, center);
}

.header-container {
  @include flex(flex, null, center);
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  margin-right: 94px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo__text {
  color: var(--accent-color);
}

.header-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  padding: 32px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current-line {
  &::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -3px;
  }
}

.current {
  color: var(--accent-color);
}
.header-list__item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.header-contacts__item {
  margin-right: 50px;
}

.header-contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding: 32px 0;
  @include flex(flex, null, center);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}
