.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 350ms, visibility 350ms;
  &.is-hidden .modal {
    transform: scale(1.5) rotate(180deg);
  }
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--second-text-color);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform 350ms;
  padding: 40px;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  @include flex(flex, center, center);
}

.modal__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  text-align: center;
  margin-bottom: 12px;
}
.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__wrap {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  margin-left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-form__input:hover + &,
  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}
.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }
}

.modal-form__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  color: var(--main-text-color);
  margin-bottom: 4px;
  display: block;
}
.modal-form__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  resize: none;
  background-color: transparent;
  margin-bottom: 20px;
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
  }
  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }
}

.modal__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--btn-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  padding: 10px 55px;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;
  &:focus,
  &:hover {
    color: var(--btn-color);
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.modal-check__text {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.46;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  @include flex(flex, center, baseline);
  text-align: center;
  span {
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    margin-right: 5px;
    border-radius: 2px;
    @include flex(flex, center, center);
  }
}

.modal-check {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:checked + .modal-check__text span {
    background-color: var(--accent-color);
    border: none;
  }
  &:focus + .modal-check__text span {
    border: 1px solid var(--accent-color);
  }
}

.modal-check__icon {
  fill: transparent;
  .modal-check:checked + .modal-check__text & {
    fill: #ffffff;
  }
}

.modal-check__link {
  color: var(--accent-color);
  text-decoration-skip-ink: none;
}
