.our-command {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-command__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--second-title-color);
  @media screen and (min-width: 1200px) {
    margin-bottom: 52px;
  }
}
.our-command__list {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-right: -30px;
  }
}

.our-command__item {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  max-width: 450px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    max-width: 354px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
    max-width: 270px;
  }
}

.our-command-list__content {
  padding: 30px 32px;
  // @media screen and (max-width: 767px) {
  // }
  // @media screen and (min-width: 768px) {

  // }
}

.our-command-list__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-title-color);
  margin-bottom: 10px;
  margin-top: 30px;
}

.our-command-list__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.our-command-social-list {
  @include flex(flex, center, null);
  // @media screen and (max-width: 480px) {
  //   @include flex(flex, center, null);
  // }

  // @media screen and (min-width: 768px) {
  //   @include flex(flex, center, null);
  // }
  // @media screen and (min-width: 1200px) {
  //   @include flex(flex, center, null);
  // }
}

.socials__item {
  width: 44px;
  height: 44px;
  // flex-basis: calc(100% / 4 - 10px);
  // margin-left: 10px;
}
.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  @include flex(flex, center, center);
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    border-color: none;
  }
}

.socials__link:focus .socials__icon,
.socials__link:hover .socials__icon {
  background-color: var(--accent-color);
  color: var(--second-text-color);
}
.socials__icon {
  fill: currentColor;
  .socials__link:focus &,
  .socials__link:hover & {
    background-color: var(--accent-color);
    color: var(--second-text-color);
  }
}
