:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #ffffff;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --btn-color: #ffffff;
  --second-btn-color: #212121;
  --dark-background-color: #2f303a;
}
